h1 {
    color:#223729;
}
body {
    background-color: #beddc8;
  }
h5 {
    color:#223729;
}
h3 {
    color:#223729;
}
table { background-color: #223729; }
tr { background-color: 223729; }
td { background-color: #223729; }